/* Add a black background color to the top navigation */
.topnav {
  display:block;
  padding-left: 2%;
  background-color: rgba(0, 0, 0, 0.75);
  overflow: hidden;
}

.nav {
  display: inline-block;
}

.topnav > .contact {
  float: right;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: .9em;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: black;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 800px) {
  .topnav a {display:none;}
  .topnav a.icon {
    float: right;
    display: block;
    color: white;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 800px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive > .contact {
    width: 100%;
  }
  .topnav.responsive > .contact a {
    float: none;
    display:inline-block;
    text-align: center;
  }
}

html, body {
  height: 100%;
  margin: 0 auto;
  color: white;
  background-color: white;
  font-family: 'Encode Sans Expanded', sans-serif;
}

.top-contact {
  padding: 10px;
  width: 100%;
  display: block;
  background-color: rgba(0,0,0,1);
  color: white;
}

.top-contact a {
  color: white;
}

.wrapper {
  background: url("/img/roof.jpg") no-repeat top center fixed;
  background-size: cover;
}

.transparency {
  background-color: rgba(0,0,0,0.25);
  min-height: 100vh;
  padding: 0;
}

.header {
  padding: 20px;
  width: 100%;
}

.fill {
  padding:0;
  min-height: 100%;
  height: 100%;
}

.header-action {
  margin-top: 5%;
}

.header-action > h1 {
  font-size: 3.2em;
}

.header-action-options { 
  padding: 20px;
  font-size: 1.4em;
}

.header-action-options > a {
  color: black;
}

.info {
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #e2e2e2;
}

.service {
  padding: 2%;
}

.service-title > h4 {
  font-weight: bold;
}

.service-body > p {
  font-size: 1.1em;
}

.quotes {
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: white;
  color: black;
}

.tinted-container {
  margin-top: 8%;
  background-color: rgba(0,0,0,0.75);
  border-style: solid;
  border-color: rgb(255,255,255);
  border-width: 5px;
  display: block;
  align-content: center;
}

.tinted-container-body {
  margin-top:10%;
  width:75%;
  margin-bottom: 20%;
}

.tinted-container-img > img {
  margin-top: 10%;
  height: 200px;
  width: auto;
}

.btn-square-white {
  border-radius: 0px;
  padding: 10px;
  background-color: white;
  color:black;
  font-weight: bold;
  margin-bottom: -23px;
  width: 50%;
}

.follow {
  padding-top:5%;
  padding-bottom: 5%;
  background-color: white;
  color: black;
}

footer {
  font-size: .8em;
  padding-top: 10px;
  padding-bottom: 5px;
  background-color: #ebebeb;
  color:black;
}

/* carousel */
#quote-carousel 
{
  padding: 0 10px 30px 10px;
  margin-top: 30px;
  background-color: white;
  color: black;
}

/* Control buttons  */
#quote-carousel .carousel-control
{
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}
/* Previous button  */
#quote-carousel .carousel-control.left 
{
  left: -12px;
}
/* Next button  */
#quote-carousel .carousel-control.right 
{
  right: -12px !important;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
#quote-carousel .carousel-indicators .active 
{
  background: #333333;
}
#quote-carousel img
{
  width: 250px;
  height: 100px
}
/* End carousel */

.item blockquote {
    border-left: none; 
    margin: 0;
}

.item blockquote img {
    margin-bottom: 10px;
}

.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}

.project {
  padding-top: 5%;
  padding-bottom: 5%;
  padding-right: 2%;
  color: black;
}

.project-body {
  margin-top: 2%;
  width: 75%;
}

.project-body > p {
  font-size: 1.2em;
}

/**
  MEDIA QUERIES
*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #quote-carousel 
    {
      margin-bottom: 0;
      padding: 0 40px 30px 40px;
    }
    
}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) { 
    
    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
    
    #quote-carousel .carousel-indicators {
        bottom: -20px !important;  
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
}